<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quidditch The Dog</title>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <!-- <link type="text/css" rel="stylesheet" href="/bower_components/angular-material/angular-material.css"  media="screen,projection"/> -->


  <!--Import jQuery before materialize.js-->
  <!-- <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/angular-material/angular-material.min.js"></script> -->

  <!-- Sweet Alert Dependencies -->
  <script src="/bower_components/sweetalert/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/bower_components/sweetalert/dist/sweetalert.css">

  <!-- Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.1/angular-materialize.min.js"></script>

  <!-- Angular and angular-ui-router Scripts -->
  <!-- <script src="/bower_components/angular/angular.js"></script> -->
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>


  <script src="/js/module.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/services.js"></script>
  <link rel="stylesheet" href="/css/style.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

This is the stable part of the Single Page App

<body ng-app='routerApp'>

  <ui-view></ui-view>

</body>
</html>
